extends layout

block content
  .content(ng-controller="ContentController")
    .screen(cu-osc, ng-controller="ScreenController")
    nav(ng-controller="ChannelSettingsController")
      ul.nav.pull-right
        li(ng-repeat="channel in channels")
          {{channel.name}}