doctype 5
html(ng-app="oscilloscope")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/vendor/jquery/jquery.js')
    script(src='/javascripts/vendor/angular/angular.js')
    script(src='/javascripts/vendor/jquery-knob/js/jquery.knob.js')
    script(src='/javascripts/oscilloscope.js')
    script(src='/nowjs/now.js')
    script
      $(function() {
        $('.dial').knob({
          change: function() {
            angular.injector(['ng']).invoke(function($rootScope){ $rootScope.$apply(); });
          }  
        });
      });
  body
    block content